@media only screen and (min-width: 769px) {
    #area{
        display: flex;
        margin-left: 15%;
        margin-top: 25px;
        
        gap: 50px;
    }

    section{
        gap: 50px;
    }
    section article{
        max-width: 300px;
    }
    article img{
        max-width:90%;
        margin: 5px auto;    
    }
}