section, #entrevistas{
    display: flex;
    flex-wrap: wrap;
}

article h1, #entrevistas h1, #news h1{
    margin-bottom: 20px;

    background-color: #00f;
    padding: 2px;

    color: #fff;
    font-weight: bold;
}

section article, #entrevistas, #news{
    display: flex;
    flex-direction: column;
    max-width: 400px;

    flex-wrap: wrap;
}
#news label{
    text-align: center;
}
#news input[type=email]{
    width: 75%;
}

article img{
    max-width:350px;
    margin: 5px auto;    
}

.content-article{
    display: flex;
    column-gap: 10px;
    padding: 5px;
}
.content-article img{
    max-height: 80px;
}

#entrevistas li{
    border-bottom: 1px solid #000;
    margin: 15px;

    list-style: none;
}

#news input[type=submit]{
    padding: 5px;
    margin: 10px 50px;
}