section, #entrevistas{
    display: flex;
    flex-wrap: wrap;
}

article h1, #entrevistas h1, #news h1{
    margin-bottom: 20px;

    background-color: #00f;
    padding: 2px;

    color: #fff;
    font-weight: bold;
}

section article, #entrevistas, #news{
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
}

#news label{
    text-align: center;
}
#news input[type=email]{
    width: 75%;
}

article img{
    max-width:350px;
    margin: 5px auto;    
}

.content-article{
    display: flex;
    column-gap: 10px;
    padding: 5px;
}
.content-article img{
    max-height: 80px;
}
.content-article div{
    overflow: hidden;
}
.content-article div p{
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Entrevistas check */
    #entrevistas li{
        border-bottom: 1px solid #000;
        margin: 15px;

        list-style: none;
    }
    #entrevistas a{
        text-decoration: none;
        color: #000;
    }
    #entrevistas a:hover{
        color: rgb(150, 150, 150);
    }
    #entrevistas a::before{
        display: none;

        content: '\2713';
        margin-right: 5px;
    }
    #entrevistas a:hover::before{
        display: inline;
    }


#news input[type=submit]{
    padding: 5px;
    margin: 10px 50px;

    border: none;
    background-color: rgb(180, 16, 16);
    color: #fff;
}
#news input[type=submit]:hover{
    background-color: rgb(129, 10, 10);
    color: #000;
}